<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="RoombaUser" value="3115C21431713750"/>
    <add key="RoombaPassword" value="DFob33eOsSXuA9Kn"/>
    <add key="RoombaHost" value="10.0.0.200"/>
  </appSettings>
</configuration>