<h1>Roomba Bob</h1>
<span>
    <table class="missions" style="width:100%;">
        <tr><th>Last Update</th><th>Status</th><th>Next Mission</th><th>Roomba Time</th></tr>
        <tr><td>{{roombaStatus_LastUpdate}}</td><td>{{roombaStatus.Status}}</td><td>{{roombaStatus_NextMission}}</td><td>{{roombaStatus_RoombaTime}}</td></tr>
    </table>
</span>

<span>Number of Missions: {{roombaMissions.length}}</span>

<select #missionlist 
        [(ngModel)]="selectedMissionId"
        (change)="onSelect(missionlist.value)" 
        [class.selected]="mission===selectedMission" >
    <option value="-1">Live Mission</option>
    <option *ngFor="let mission of roombaMissions; let i=index;" value="{{i}}">
        {{mission.StartTime|date:'EEE d MMM y'}}
    </option>
</select>

<roomba-map *ngIf="selectedMission" [missionId]="selectedMission.MissionId"
            dScale="1.65"
            dRotate="0.0"
            dOffsetX="875"
            dOffsetY="375"
            bShowCleaning="true"
></roomba-map>


<span>{{errorMessage}}</span>
