<h1>Roomba Bob</h1>
<span>
    <table class="missions" style="width:100%;">
        <tr><th>Last Update</th><th>Status</th><th>Next Mission</th><th>Roomba Time</th></tr>
        <tr><td>{{roombaStatus.LastUpdate | date: 'EEE d MMM, HH:mm'}}</td><td>{{roombaStatus.Status}}</td><td>{{roombaStatus.NextMission}}</td><td>{{roombaStatus.RoombaTime|date:'HH:mm'}}</td></tr>
    </table>
</span>

<roomba-map *ngIf="selectedMission" [missionId]="selectedMission.MissionId"
            dScale="1.65"
            dRotate="0.0"
            dOffsetX="875"
            dOffsetY="375"
            bShowCleaning="true"
></roomba-map>

<span>Number of Missions: {{roombaMissions.length}}</span>
<ul class="missions">
    <li *ngFor="let mission of roombaMissions" (click)="onSelect(mission)" [class.selected]="mission===selectedMission">
      <span class="mission">{{mission.MissionId}} {{mission.StartTime}}</span>
    </li>
</ul>

<span>{{errorMessage}}</span>
