
<span *ngIf="details">Start: {{details.StartTime|date:'shortTime'}} End: {{details.EndTime|date:'shortTime'}} </span>
<span>
    <input type="checkbox" #thickline [checked]="bThickLine" (change)="onLineThicknessChanged(thickline.checked);" />Thick Line
    <input type="checkbox" #accumulate [checked]="bAccumulatePath" (change)="onAccumulateChanged(accumulate.checked);" />Accumulate
</span>
<span>
    <input style="width:100%; padding-top:.5em; padding-bottom:.5em;" 
           type="range" 
           id="points"
           name="points"
           #points 
           min="0" 
           max="{{numberOfPoints}}" 
           (change)="onRangeChanged(points.value);"
           (input)="onRangeChanged(points.value);"/>
    <div style="position:relative; width=100%;">
        <canvas id="canvasMap"
                width="2170"
                height="1357"
                style="position:absolute; left:0; top:0; width: 100%; z-index: 0; background-image:url('img/floorplan.png'); background-size:cover;"></canvas>
        <canvas id="canvasAnimation"
                width="2170"
                height="1357"
                style="position:absolute; left:0; top:0;width: 100%; z-index: 1;"></canvas>
    </div>
</span>